<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ios-reaktor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mac-reaktor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>reaktor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>reaktorTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4A0FDF2B16559B2900AB1B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0FDF3316559B6D00AB1B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A0FDF4116559B6D00AB1B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4A5331D9165622E100A15FCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC71AC165540A30062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC71BD165540A30062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC71DB165540B80062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC71E9165540B80062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC7203165540C90062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEC7215165540C90062CA73</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
